BasedOnStyle: Microsoft
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1
EmptyLineBeforeAccessModifier: Always
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
FixNamespaceComments: false
BreakStringLiterals: false
LineEnding: CRLF
